.main{
	border: 1px solid black;
	width: 1000px;
	margin:auto;
}

.header{
	width: 100%;
	height: 150px;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
}

.container{
	width: 100%;
	min-height: 600px;
	border-top: 1px solid black;
	padding: 20px;
	box-sizing: border-box;
}

.container h1{
	text-align: center;
}

.form{
	float:left;
}

.list{
	float: left;
	margin-left: 80px;
}

.list table{
	border-collapse: collapse;
}